.container {
    text-align: center;
    width: 100%;
}

.button {
    display: inline-block;
    border-radius: 30px;
    width: 500px;
    height: 400px;
}

.divider {
    width:100px;
    height:auto;
    display:inline-block;
}