.container {
    text-align: center;
    width: 100%;
}

.button {
    border-radius: 20px;
    width: 500px;
    height: 400px;
    font-size: 75px;
}

.divider {
    width:100px;
    height:auto;
    display:inline-block;
}

